//***next-page***//

.page{
	//border: 1px solid black;
	background-color: #f7f7f7;
	.page-container{
		@extend %fixed-size;
		padding: 2rem 0 2rem 0;
		font-size: 1.6rem;
		color: #000000;
		i{font-size: 1.4rem; color:  $color-primary;}
		a{font-size: 1.6rem; color:  $color-primary;}
		}
	}
@media (min-width: 1024px) and (max-width: 1279px){
.page{
	.page-container{
		width: 85%;
		
		}
	}
}
@media (min-width: 768px) and (max-width: 1023px) {
.page{
	.page-container{
		width: 90%;
		
		}
	}
}
@media (min-width: 600px) and (max-width: 767px) {
.page{
	.page-container{
		width: 95%;
		
		}
	}
}
@media (max-width: 599px){
.page{
	.page-container{
		width: 90%;
		
		}
	}
}
//***questions***//
.register{
	.register-container{
		padding: 1.5rem 0 1.5rem 0;
		@extend %fixed-size;
		.row{	
			margin: 0;
			.col1{
				padding: 0;
				
				h2{
					margin-bottom: 1.5rem;
					font-weight: 550;
				}
				h4{
					color: #000000;
					line-height: 1.35;
					
				}
				form{
					margin-top: 1.5rem;
					.form-group1{
						
						margin-left: 0;
						margin-bottom: 1.5rem;
						padding: 0;
						label{
							font-size: 1.7rem;
							font-weight: 550;
							margin-bottom: 0.5rem;
							color: $color-primary;
						}
						.email-confirm, .name-confirm, .phone-confirm{
							background-color: #eaeaea;
							padding: 1.3rem 0.5rem 1.3rem 2rem;
							font-size: 1.7rem;
							font-weight: 550;
							max-width: 90%;
							border-radius: 4px;
							color: $color-secondly;
							@extend %flex-start;
							
						}
					}
					
					button{
						font-size: 1.6rem;
						font-weight: 550;
						@include btn-2(14.5rem,4.2rem,1.6rem,4px);
					}
				}
			}
			.col2{
				padding: 0;
				padding-left: 1rem;
				padding-top: 1.5rem;
				border-left: 1px solid #cdcdcd;
				.number-register{
					margin-bottom: 3rem;
					@extend %flex-end;
					.number-register-container{
						max-width: 70%;
						border: 1px solid #cdcdcd;
						border-radius: 4px;
						padding: 1rem 1rem 1rem 1rem;
						p,h2{
							text-align: center;
						}
						p{font-size: 1.7rem;
						margin-bottom: 0.5rem;
						}
						h2{
							font-weight: 550;
							color: $color-secondly;
						}
					}
				}
				.register-information{
					.register-information-container{
						h3{
							font-weight: 550;
							margin-bottom: 1rem;
						}
						p{
							font-size: 1.5rem;
							margin-bottom: 0.5rem;
						}
					}
				}
				

			}
		}
	}
}
@media (min-width: 1024px) and (max-width: 1279px){
.register{
	.register-container{
		width: 85%;
		
		}
	}
}
@media (min-width: 768px) and (max-width: 1023px) {
.register{
	.register-container{
		width: 90%;
		.row{
			.col1{
				padding: 0;
			}
		}
		
		}
	}
}
@media (min-width: 600px) and (max-width: 767px) {
.register{
	.register-container{
		width: 95%;
		.row{
			.col1{
				padding: 0;
			}
			.col2{
				border: none;
				border-top: 1px solid #cdcdcd;
				margin-top: 1.5rem;
				padding: 0;
				padding-top: 1.5rem;
			}
		}
		
		}
	}
}
@media (max-width: 599px){
.register{
	.register-container{
		width: 90%;
		.row{
			.col1{
				padding: 0;
			}
			.col2{
				border: none;
				border-top: 1px solid #cdcdcd;
				margin-top: 1.5rem;
				padding: 0;
				padding-top: 1.5rem;
			}
		}
		}
	}
}