//***next-page***//

.page{
	//border: 1px solid black;
	background-color: #f7f7f7;
	.page-container{
		@extend %fixed-size;
		padding: 2rem 0 2rem 0;
		font-size: 1.6rem;
		color: #000000;
		i{font-size: 1.4rem; color:  $color-primary;}
		a{font-size: 1.6rem; color:  $color-primary;}
		}
	}
@media (min-width: 1024px) and (max-width: 1279px){
.page{
	.page-container{
		width: 85%;
		
		}
	}
}
@media (min-width: 768px) and (max-width: 1023px) {
.page{
	.page-container{
		width: 90%;
		
		}
	}
}
@media (min-width: 600px) and (max-width: 767px) {
.page{
	.page-container{
		width: 95%;
		
		}
	}
}
@media (max-width: 599px){
.page{
	.page-container{
		width: 90%;
		
		}
	}
}
//***questions***//
.register{
	.register-container{
		padding: 1.5rem 0 1.5rem 0;
		@extend %fixed-size;
		.row{	
			margin: 0;
			.col3{
				padding: 0;
				padding-top: 1rem;
				@extend %flex-start;
				h2{
					margin-bottom: 1.5rem;
					font-weight: 550;
				}
				h4{
					color: #000000;
					line-height: 1.35;
					
				}
			}
			.col4{
				padding: 0;
				padding-left: 1rem;
				border-left: 1px solid #cdcdcd;
				.register-menu{
					@extend %flex-between;
					.my-loan,.my-information{
						width: 50%;
						background-color: $color-primary;
						padding: 1.5rem 0 1.5rem 0;
						border-radius: 4px;
						@extend %flex-mid;
						h4{
							color: #ffffff;
							font-weight: 550;
							font-size: 2rem;
						}

					}
					.active{
						background-color: #ffffff;
						border: 2px solid #eaeaea;
						border-bottom: none;
						border-bottom-right-radius: none;
						border-bottom-left-radius: none; 
						h4{
							color: $color-primary;
						}

					}

				}
			}
		}
	}
}
@media (min-width: 1024px) and (max-width: 1279px){
.register{
	.register-container{
		width: 85%;
		
		}
	}
}
@media (min-width: 768px) and (max-width: 1023px) {
.register{
	.register-container{
		width: 90%;
		.row{
			.col1{
				padding: 0;
			}
		}
		
		}
	}
}
@media (min-width: 600px) and (max-width: 767px) {
.register{
	.register-container{
		width: 95%;
		.row{
			.col1{
				padding: 0;
			}
			.col2{
				border: none;
				border-top: 1px solid #cdcdcd;
				margin-top: 1.5rem;
				padding: 0;
				padding-top: 1.5rem;
			}
		}
		
		}
	}
}
@media (max-width: 599px){
.register{
	.register-container{
		width: 90%;
		.row{
			.col1{
				padding: 0;
			}
			.col2{
				border: none;
				border-top: 1px solid #cdcdcd;
				margin-top: 1.5rem;
				padding: 0;
				padding-top: 1.5rem;
			}
		}
		}
	}
}