//***next-page***//

.page{
	//border: 1px solid black;
	background-color: #f7f7f7;
	.page-container{
		@extend %fixed-size;
		padding: 2rem 0 2rem 0;
		font-size: 1.6rem;
		color: #000000;
		i{font-size: 1.4rem; color:  $color-primary;}
		a{font-size: 1.6rem; color:  $color-primary;}
		}
	}
@media (min-width: 1024px) and (max-width: 1279px){
.page{
	.page-container{
		width: 85%;
		
		}
	}
}
@media (min-width: 768px) and (max-width: 1023px) {
.page{
	.page-container{
		width: 90%;
		
		}
	}
}
@media (min-width: 600px) and (max-width: 767px) {
.page{
	.page-container{
		width: 95%;
		
		}
	}
}
@media (max-width: 599px){
.page{
	.page-container{
		width: 90%;
		
		}
	}
}
//***questions***//
.register{
	.register-container{
		padding: 1.5rem 0 1.5rem 0;
		@extend %fixed-size;
		.row{	
			margin: 0;
			.col3{
				padding: 0;
				padding-top: 1rem;
				@extend %flex-start;
				h2{
					margin-bottom: 1.5rem;
					font-weight: 550;
				}
				h4{
					color: #000000;
					line-height: 1.35;
					
				}
			}
			.col4{
				padding: 0;
				padding-left: 1rem;
				border-left: 1px solid #cdcdcd;
				.register-menu{
					@extend %flex-between;
					.my-loan,.my-information{
						cursor: pointer;
						width: 50%;
						background-color: #3587d4;
						padding: 1.5rem 0 1.5rem 0;
						border-radius: 4px;
						@extend %flex-mid;
						h4{
							color: #ffffff;
							font-weight: 550;
							font-size: 2rem;
						}

					}
					.active{
						background-color: #ffffff;
						border: 2px solid #eaeaea;
						border-bottom: none;
						border-bottom-right-radius: none;
						border-bottom-left-radius: none; 
						h4{
							color: $color-primary;
						}

					}

				}
			}
		}
		.myInformation-container{
			display: none;
			.myInformation-title{
				margin-top: 2.5rem;
				margin-bottom: 1.5rem;
				h4{
					font-weight: 550;
					text-transform: uppercase;
				}
			}
			.myInformation-content1{
				margin-left: 0.5rem;
					.form-group1{				
						margin-left: 0;
						margin-bottom: 1.5rem;
						padding: 0;
						@extend %flex-start;
						label{
							font-size: 1.7rem;
							color: $color-primary;
							@extend %flex-start;
						}
						.email-confirm, .name-confirm, .phone-confirm{
							margin-left: 1.5rem;
							font-size: 1.7rem;
							color: $color-secondly;
							@extend %flex-start;
						}
						a{
							font-size: 1.4rem;
							margin-left: 1rem;
							font-weight: 550;
						}
					}
					a{
							font-size: 1.4rem;
							font-weight: 550;
						}
				}
			.myInformation-content2{
				margin-left: 0.5rem;
				.myInformation-menu{
					margin-bottom: 1.5rem;
					.row{
						.col-12{
							border: none;
						
							cursor: pointer;

							h4{
							color: $color-secondly;
							font-weight: 550;
							font-size: 1.7rem;
						}
						}
						.active{
							h4{
								color: $color-primary;
								text-decoration: underline;
							}
						}
					}
				}
				.identify-detail, .pesonal-detail, .job-detail{
					
					.col1{
						.note{
							border: 1px solid $color-primary;
							background-color: #e9f2fc;
							padding: 1rem;
							margin-bottom: 1rem;
							h5{
							font-size: 1.7rem;
							font-weight: 500;
							line-height: 20px;
							color: #6e6e6e;
						}
						}
						
						.form-group{
							border: 1px solid #eaeaea;
							padding: 1rem;
							input{
								font-size: 1.6rem;
								padding: 1.5rem;
							}
							.birthday{
								@extend %flex-between;
								.col-md-4{
									padding: 0;
									padding-right: 0.5rem;
									label{
										font-size: 1.5rem;
										margin-bottom: 0.5rem;
										font-weight: 550;
									}
									select{
										font-size: 1.6rem;
									}

								}
							}
							.intruction{
								margin-top: 0.5rem;
								padding: 1.5rem;
								background-color: #ecf8f1;
								font-size: 1.4rem;
								border-radius: 4px;
								@extend %flex-start;
								h5{
									margin: 0;
								}
							}
							.col-md-12{
								padding: 0;
								select{
										font-size: 1.6rem;
									}
							}
							.sex-identify{
								@extend %flex-start;
								.form-check{
									margin-right: 2rem;
									margin-bottom: 1rem;
									@extend %flex-start;
									font-size: 1.6rem;
									input{
										margin-right: 0.5rem;
										margin-bottom: 0.5rem;
									}
									label{
										margin: 0;
										margin-left: 0.5rem;
									}
								}
							}
							.identify-img{
								@extend %flex-start;
								h5{
									font-size: 1.5rem;
									color: #6e6e6e;
									margin-left: 1rem;
								}
							}
							
							.custom-file{
								margin-top: 1rem;
								font-size: 1.6rem;
							}
							h5{
									font-size: 1.6rem;
									color: $color-secondly;
									margin-top: 1rem;
								}
						}
						.save-btn{
							@extend %flex-mid;
							button{
								@include btn-2(14.5rem,4.4rem,1.6rem,4px);
							}
						}
					}
				}
				.pesonal-detail, .job-detail{display: none;}
				
			}
		}
		.my-loan-container{
			h2{
				font-size: 2.4rem;
				margin-top: 2.5rem;
				color: $color-secondly;
				text-align: center;
				font-weight: 550;

			}
			p{
				font-size: 2rem;
				margin-bottom: 1.5rem;
				text-align: center;
			}
			.col-12{
				border: none;
			}
			.loan-history{
				margin-top: 0.5rem;
				h3{
					font-size: 2rem;
					text-align: center;
					font-weight: 550;
					margin-bottom: 1rem;
				}
				h6{
					font-size: 1.6rem;
					line-height: 1.25;
					margin-bottom: 1.5rem;
					a{color: $color-primary;
					&:hover{
						color: $color-secondly;
					}
					}
				}
				.borrow-regis{
					margin-top: 0.5rem;
					.form-group{
						label{
							font-size: 1.8rem;
							margin-bottom: 0.5rem;
							color: $color-secondly;
						}
						.promotion{
							font-size: 1.6rem;
							padding: 0;
							.form-control{
								font-size: 1.6rem;
								margin: 0;
							}
						}
						input{
							font-size: 1.6rem;
							padding-left: 1rem;
						}
					}
					h5{
						font-size: 1.8rem;
						color: $color-secondly;
						margin-bottom: 1rem;
					}
					.note-1{
						font-size: 1.5rem;
						line-height: 1.25;
						color: red;
						font-style: italic;
						margin-bottom: 1rem;
					}
					.row{
						.col-6{
							p{
								font-size: 1.7rem;
								text-align: left;
								margin: 0;
								line-height: 1.3;
								margin-bottom: 0.5rem;
							}

						}
						.sumary-loan{
							p{
								font-weight: 550;
								color: $color-secondly;

							}
						}
					}
					.loan-btn{
						@extend %flex-mid;
						button{
							@include btn-2(14.5rem,4.4rem,1.6rem,4px)
						}
					}

				}
			}
		}
		.my-loan-container2{
			display: none;
			h3{
				margin-top: 1.5rem;
				text-align: justify;
			}
			.row{
				margin-top: 1.5rem;
				.col-6{
							p{
								font-size: 1.7rem;
								text-align: left;
								margin: 0;
								line-height: 1.3;
								margin-bottom: 0.5rem;
							}

						}
						.sumary-loan{
							p{
								font-weight: 550;
								color: $color-secondly;

							}
						}
					}
		}
	}
}
@media (min-width: 1024px) and (max-width: 1279px){
.register{
	.register-container{
		width: 85%;
		
		}
	}
}
@media (min-width: 768px) and (max-width: 1023px) {
.register{
	.register-container{
		width: 90%;
		.row{
			.col1{
				padding: 0;
			}
		}
		
		}
	}
}
@media (min-width: 600px) and (max-width: 767px) {
.register{
	.register-container{
		width: 95%;
		.row{
			.col3{

			}
			.col4{
				padding: 0;
				border: none;
				.register-menu{
					.my-loan,.my-information{
						width: 48%;
						padding: 1.5rem 0 1.5rem 0;
						h4{
							font-size: 1.7rem;
						}

					}

				}
			}
		}
		.row{
			.col1{
				padding: 0;
			}
			.col2{
				border: none;
				border-top: 1px solid #cdcdcd;
				margin-top: 1.5rem;
				padding: 0;
				padding-top: 1.5rem;
			}
		}
		
		}
	}
}
@media (max-width: 599px){
.register{
	.register-container{
		width: 90%;
		.row{
			.col3{

			}
			.col4{
				padding: 0;
				border: none;
				.register-menu{
					.my-loan,.my-information{
						width: 48%;
						padding: 1.5rem 0 1.5rem 0;
						h4{
							font-size: 1.7rem;
						}

					}

				}
			}
		}
		.row{
			.col1{
				padding: 0;
			}
			.col2{
				border: none;
				border-top: 1px solid #cdcdcd;
				margin-top: 1.5rem;
				padding: 0;
				padding-top: 1.5rem;
			}
		}
		}
	}
}