.App {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border: 1px solid #EEEEEE;
}
.App .header{
  padding: 10px 50px;
  display: flex;
  border-bottom: 1px solid #EEE;
  opacity: 0.6;
}
.App .header input{
  border: none;
  width: 100%;
  margin-left: 20px;
  outline: none;
  font-size: 20px;
}
.App .header input:focus{
  outline: none;
}
.App .footer{
  display: flex;
  border: 1px solid #EEEEEE;
  padding: 10px 50px;
}
.App .footer button{
  border: none;
  background-color: #ffffff;
  margin-right: 20px;
  cursor: pointer;
}
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
